$container-width: 70%;
$transparent: rgba(0, 0, 0, 0);
$content-height: calc(100vh - 122px);

$gray--3: #12151b;
$gray--2: #16181e;
$gray--1: #1e2128;
$gray: #363a43;
$gray-1: #8892a9;
$gray-2: #8f9dbd;
